<%- include('partials/header') %>

    <body>
        <div class="card text-center w-75 mx-auto mt-2">
            <div class="card-header">
                confirm
            </div>
            <div class="card-body py-3 px-0 ">
                <p class="card-text">You are already logged in. Do you want to sign out?</p>
                <hr>

                <a href="/logout" class="btn btn-primary">Confirm</a>
                <a href="/levels" class="btn btn-secondary">cancel</a>

            </div>
        </div>

    </body>

    </html>